/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GRID */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* CLEARFIX*/
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  clear: both;
  *zoom: 1;
}

#container {
  font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 800px;
  margin: 0 auto;
}

header {
  padding-top: 60px;
}

#mint-logo {
  float: left;
}

header ul {
  float: right;
  padding-top: 25px;
}

header ul li {
  display: inline-block;
  font-size: .9em;
  padding: 5px;
}

.signup {
  font-weight: bold;
}

.login {
  font-weight: lighter;
}

.main {
  border: 1px solid #F4F4F4;
  padding-top: 40px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(133,133,138,1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(133,133,138,1);
  box-shadow: 0px 2px 2px 0px rgba(133,133,138,1);
}

section {
  width: 65%;
  float: left;
  padding: 0 45px;
  color: #393333;
}

form {
  font-size: .8em;
  line-height: 2;
}

input {
  display: block;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  margin: 14px 0 24px 0;
  height: 34px;
  width: 75%;
  padding: 0 6px 0 8px;
}

.checkbox .box {
  float: left;
  padding-right: 5px;
}

.checkbox .remember {
  float: left;
  padding-top: 18px;
}

input[type=submit] {
  width: 100px;
  background-color: #45CAE6;
  color: #BDF9F9;
}

.wrapper {
  float: right;
  width: 31%;
  border-left: 1px solid #D3D3D3;
}

aside {
  color: #796674;
  height: 600px;
  background: #F5F5F5;
  padding: 15px;
  margin: 0 25px;
}

h1 {
  font-size: 1.8em;
  line-height: 1.5;
  margin-bottom: 40px;
}

p {
  color: #949796;
  font-size: .7em;
  padding-bottom: 35px;
}

h3 {
  font-size: 1.1em;
  font-weight: lighter;
  padding: 5px;
}

aside ul li {
  font-size: 0.7em;
  line-height: 1.2;
  list-style-type: disc;
  margin: 10px 10px 10px 20px;
}

span {
  font-size: .9em;
  text-decoration: underline;
}

footer {
  padding: 40px 10px 0px 40px;
  font-size: .8em;
  color: #B1B4B4;
}

footer a {
  color: #B1B4B4;
  text-decoration: none;
  margin: 15px;
}

.logos {
  width: 300px;
  margin: 40px auto 0 auto;
}

.logos img {
  display: block;
  float: left;
  margin: 5px 15px;
}

h6 {
  font-size: .8em;
  width: 220px;
  margin: 20px auto 100px auto;
}
